{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block about %}
	   <h1> Blog </h1>
{% endblock %}

{% block content %}
    <div class="card-container">
        <div class="cards" style="width: 18rem;">
          <img src="https://www.allrecipes.com/thmb/lzdUShXo2XZvpwPnIryPLfSWzZo=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/260542-fluffy-flapjack-pancakes-beauty-3x4-0135064414801712-346b75307bad4b1399a20e5b75dffb6b.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Our 20 Best Pancake Recipes of All Time</h5>
            <p class="card-text">Breakfast never needs to be boring.</p>
            <a href="https://www.allrecipes.com/our-best-pancake-recipes-8736139" class="btn btn-primary">Recipe</a>
          </div>
        </div>

        <div class="cards" style="width: 18rem;">
          <img src="https://www.allrecipes.com/thmb/GhlcqdWns5uJ_xmEsqPAfxlfHZ8=/0x512/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/11680204EasySausagePancakes4x3-3e96dcaaaee74f3ab09d5a92ce30e5b5.jpg" class="card-img-top" alt="Bacon_pancakes">
          <div class="card-body">
            <h5 class="card-title">Bacon pancakes</h5>
            <p class="card-text">These easy sausage pancakes are ready in a few minutes - all you need is pancake mix and sausage patties and you have a yummy breakfast treat.</p>
            <a href="https://www.allrecipes.com/easy-sausage-pancakes-recipe-11680204" class="btn btn-primary">Recipe</a>
          </div>
        </div>

        <div class="cards" style="width: 18rem;">
          <img src="https://www.allrecipes.com/thmb/DZ5WtIe2s6rGk-rIEZDkMA6mGj4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/7568285-perfect-pancakes-KH-4x3-218e2c39174c4a2293fca0ab752b38a8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Perfect Pancakes</h5>
            <p class="card-text">Serve these pancakes with butter and syrup, or up the ante with toppings such as sprinkles, chopped bittersweet chocolate, and sliced or chopped fruit for a perfect breakfast.</p>
            <a href="https://www.allrecipes.com/perfect-pancakes-recipe-7568285" class="btn btn-primary">Recipe</a>
          </div>
        </div>

    </div>

{% endblock %}
