<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link {{ active_home }}" aria-current="page" href="/">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_about }}" href="/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_contact }}" href="/contact/">Contact</a>
      </li>
    </ul>
    {% block about %}

    {% endblock %}

    {% block content %}

    {% endblock %}


    <footer class="bg-light p-3 mt-4">
        <div class="container text-center">
            <p>Контактная информация: +7 (123) 456-78-90</p>
            <p>
                <a href="#">Facebook</a> |
                <a href="#">Instagram</a> |
                <a href="#">Twitter</a>
            </p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>