{% extends 'base.html' %}

{% block about %}
	 <h1>My new site about pancakes</h1>
{% endblock %}

{% block content %}
<div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="https://www.allrecipes.com/thmb/3lLA6mN5AR6-jyJu-pqc09tCZMQ=/771x514/filters:no_upscale():max_bytes(150000):strip_icc():focal(399x0:401x2):format(webp)/1538703-ad203b1931bb48709aef3781a5742e8f.jpg" class="card-img-top" alt="Pancakes...">
      <div class="card-body">
        <h5 class="card-title">Pancakes</h5>
        <p class="card-text">Buttermilk pancakes, blueberry pancakes, banana pancakes, oatmeal or whole wheat. Get recipes for light and fluffy pancakes, including vegan and keto options.</p>
        <a href="/blog/" class="btn btn-primary">Search recipes</a>
      </div>
    </div>
</div>

{% endblock %}